.listProduct {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.listProduct .item {
    border: 2px solid #000000;
    display: flex;
    max-width: 1000px;
    align-items: center;
    width: calc(50% - 10px);
    background-color: #EAD4C3;
    margin: 20px;
    margin-bottom: 5px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    box-sizing: border-box;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 620px; /* Ajusta el ancho según tus necesidades */
    justify-content: flex-start;
}

.listProduct .item img {
    width: 100px;
    height: 100px;
    border: 2px solid #000000;
    border-radius: 10px;
    margin-right: 10px;
    text-align: left;
}
.details {
    width: 500px; /* Ajusta el ancho según tus necesidades */
}

.details h3 {
    text-align: left;
  }

.listProduct .item h3{
    color: #000000;
    padding-left: 10px;
    margin: 5px 0;
    justify-content: right;
    align-items: flex-start;
}

h3{
    font-weight: bold;
}

.listProduct .item .price {
    letter-spacing: 7px;
    font-size: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
    margin: 10.5px;
}

.product-line {
    object-fit: cover;
    width: 285px;
    height: 2.2px;
    background-color: #000000;
    margin: 0 10px;
    left: -10px;
}

.listProduct .item button {
    background-color: #ffffff;
    color: #000000;
    border: none;
    padding: 5px 10px;
    border-radius: 20px;
    border-radius: 10px;
    color: #000000;
    text-align: center;
    align-content: end;
    display: inline-block;
    cursor: pointer;
    justify-content: center;
    width: 200px; /* Ajusta el ancho según tus necesidades */
    height: 40px; /* Ajusta la altura según tus necesidades */
}

/*Estilos css para el contenedor de carritos*/
.cartTab {
    z-index: 1000;
    width: 350px;
    max-width: 100%;
    background-color: #fcf1f1;
    color: #333;
    position: fixed;
    height: 100%; /* Ajusta esta altura según tus necesidades */
    overflow-y: auto;
    top: 0;
    right: -400px; /* Oculta el carrito por defecto */
    bottom: 0;
    transition: 0.5s; /* Agrega una transición suave */
    display: grid;
    grid-template-rows: 70px 1fr 70px;
  }
  
  /* Cuando se muestre el carrito, cambiar la posición */
  .cartTab.show {
    right: 0; /* Posicionar el carrito en la parte derecha de la pantalla */
  }


.cartTab h1{
    padding: 20px;
    margin: 0;
    font-weight: 300;
    color: black;
}
.cartTab .btn{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
}
.cartTab button{
    background-color: #A22417;
    border: none;
    font-family: Poppins;
    font-weight: 500;
    cursor: pointer;
    color:#fff
}

#confirmVaciar {
    background-color: #A22417;
    color: #fff;
    border: none;
    padding: 2px 22px;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 10px;
    margin-bottom: 10px;
    font-size: 20px; /* Se mantiene el tamaño de fuente deseado */
    text-align: center;
}

#cancelVaciar {
    background-color: #A22417;
    color: #fff;
    border: none;
    padding: 2px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 10px;
    margin-bottom: 10px;
    font-size: 20px; /* Se mantiene el tamaño de fuente deseado */
    text-align: center;
}
.btn button.vaciar,
.btn button.dirreccionar {
margin-bottom: 10px; /* Espacio entre los botones */
  padding: 10px 20px; /* Ajusta el padding para controlar el tamaño */
}

.cartTab .close {
    background-color: #fcf1f1; 
    color: #000000; /* Color de texto oscuro para mejor contraste */
    padding: 5px 15px; /* Más margen */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer;
    padding: 20px;
    opacity: 100%; /* Opacidad al 100% */
    display: flex; /* Convierte el botón en un elemento de bloque */
    right: 1%;
    text-align: center; /* Centra el texto dentro del botón */
    align-items: center;
    padding: 5px 5px; /* Aumentar el padding */
  }
  
  .cartTab .close:hover {
    background-color: #FF8080; /* Color más oscuro al pasar el cursor */
    color: #fff; /* Cambio de color de texto */
  }

.listCart .cart-item{
    padding:10px;
}
.listCart::-webkit-scrollbar{
    width: 0;
}
/*  */
.cartTab{
    right: -400px;
    transition: 0.5s;
}

.cartTab .listCart .cart-item img{
    width: 70px;
}

.cartTab::-webkit-scrollbar,
.listTab::-webkit-scrollbar {
  display: none;
}

.cartTab .listCart .cart-item{
    display: grid;
    grid-template-columns: 70px 94px 58px 7fr;
    gap: 10px;
    text-align: center;
    align-items: center;
    color:#000000;
}

.listCart .cart-item .quantity span {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #e5c4c4;
    color: #000000;
    border-radius: 50%;
    cursor: pointer;
    font-size: 12px; /* Reducir el tamaño de fuente */

}
.listCart .cart-item h3{
    font-size: 14px;
}

.cart-item .quantity span.minus,
.cart-item .quantity span.plus {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 15px; /* Ajustar el ancho de los botones */
  height: 15px; /* Ajustar el alto de los botones */
}

/* Estilo para los botones de cantidad en el carrito */
.quantity {
    display: flex;
    align-items: center;
    justify-content: center; /* Centra horizontalmente */
  }
  
  .quantity button {
    margin: 0 0; /* Ajustar el margen entre los botones */
    padding: 5px; /* Ajustar el espacio interno de los botones */
  }
  
  .quantity span .qty {
    margin: 0 0; /* Ajustar el margen entre la cantidad y los botones */
    text-align: center;
    vertical-align: middle; 
  }
 
.listCart .quantity span:nth-child(2){
    background-color: transparent;
    color: #000000;
    font-size: 16px;
}
.listCart .cart-item:nth-child(even){
    background-color: #edc3c3;    
}

.cartTab .listCart::-webkit-scrollbar{
    width: 0;
}

body.activeTabCart .cartTab{
    right: 0;
    
}

body.activeTabCart .icon-cart body.activeTabCart #icon-cart-count {
    transform: translateX(-250px);
}

body.activeTabCart .icon-cart, 
body.activeTabCart #icon-cart-count {
  position: absolute;
  top: 15px; /* Ajusta según sea necesario */
  left: 280px; /* Ajusta según sea necesario */
  display: block; /* Asegura que se muestre */
  z-index: 1001; /* Asegura que esté por encima de otros elementos */
  top:10%;
  display: flex;
  align-items: center;
  right: -10px;
  margin: 0px;

}

body.activeTabCart #icon-cart-count {
  left: 325px; /* Ajusta para posicionar junto al icono del carrito */
  top:-0.5px;
}

.container {
    max-width: -webkit-fill-available;
}


/* Añadir este CSS para estilizar la notificación */
#notification {
    display: none;
    background-color: white;
    border: 1px solid black;
    padding: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 425px;
    z-index: 9999;
}