body {
    font-family: "Teachers", sans-serif;
    color: #000000;
    background-color: #ffffff;
  }

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

/*header section*/
.sub_page .hero_area {
    height: auto;
  }
  
  .hero_area.sub_pages {
    height: auto;
  }
  
  .header_section {
    background-color: #c09576;
    font-family: "Outfit", sans-serif;
  }
  
  
  .header_section .container-fluid {
    padding-right: 25px;
    padding-left: 25px;
  }
  
  .header_section .nav_container {
    margin: 0 auto;
  }

  .custom_nav-container .navbar-nav .nav-item .nav-link {
    font-family: "Teachers", sans-serif;
    font-size: 17px;
    padding: 10px 30px;
    color: #ffffff;
    text-align: center;
    position: relative;
  }

  .custom_nav-container .navbar-nav .nav-item .nav-link::before {
    content: "";
    display: none;
    position: absolute;
    bottom: 7px;
    left: 50%;
    width: 17px;
    height: 4px;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    background-color: #A22417;
    border-radius: 5px;
  }

  .custom_nav-container .navbar-nav .nav-item .nav-link:hover::before {
    display: block;
  }
  
  .custom_nav-container .navbar-nav .nav-item.active a::before {
    display: block;
  }

  a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.custom_nav-container .nav_search-btn {
  background-image: url(../images/search-icon.png);
  background-size: 22px;
  background-repeat: no-repeat;
  background-position-y: 7px;
  width: 35px;
  height: 35px;
  padding: 0;
  border: none;
}

  .navbar-brand {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .navbar-brand img {
    width: 45px;
    margin-right: 5px;
  }

  .navbar-brand span {
    font-family: "Outfit", sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: #ffffff;
  }

  .custom_nav-container {
    z-index: 99999;
    padding: 5px 0;
  }

  .custom_nav-container .navbar-toggler {
    outline: none;
  }
  
  .custom_nav-container .navbar-toggler .navbar-toggler-icon {
    background-size: 42px;
  }

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
}

.content {
    display: flex;
    justify-content: space-between;
}

.detalles-pago, .mi-pedido {
    width: 48%;
    padding: 30px;
}

h1 {
    background-color: #A22417;
    color: #fff;
    padding: 10px;
    border-radius: 20px;
    
}

.section {
    margin-bottom: 20px;
    padding: 35px;
}

.payment-methods img {
    margin: 5px;
    width: 70px; /* Ancho */
    height: 40px; /* Alto */
}

.qr-code img {
    margin: 5px;
    width: 260px; /* Ancho */
    height: 260px;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin: 5px 0;
}

form input {
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #A22417;
    border-radius: 5px;
}

.qr-code img {
    max-width: 260px;
    margin: 10px 0;
}

.plato {
    background-color: #f0cfb5;
    padding: 10px;
    border: 1px solid #A22417;
    border-radius: 5px;
    margin-bottom: 10px;
}

.plato span {
    float: right;
    font-weight: bold;
}

.total-pagar {
    margin-top: 20px;
    text-align: right;
}

.total-pagar span {
    font-weight: bold;
    font-size: 1.2em;
}

button.realizar-pago {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #A22417;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
}

footer {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

footer button {
    padding: 10px 0px;
    background-color: #5c4033;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 60px;
    margin-left: 60px;
    
}

footer button.aceptar {
    background-color: #4CAF50;
    padding:10px;
    padding: 15px 15px;
    font-size: 24px;
}

footer button.cancelar {
    background-color: #f44336;
    padding:10px;
    padding: 15px 15px;
    font-size: 24px;
}

